h1 {
    background-color: navy;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 75%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
    height: 150px;
    border-radius: 10px;
    margin-top: 25px;
}

form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 75%;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
}

